<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Create a post</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
        <form method="post" action="/post" enctype="multipart/form-data">
        <div class="div1">
            <label>Title</label>
                <input type="text"  name="title" placeholder="Title">
            <label>Caption</label>
                <input type="text"  name="caption" placeholder="caption">

            <input type="submit"/>
        </div>
        </form>
</body>
</html>