<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discover</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<ul>
    <li><a href="/about">About</a></li>
    <li><a href="/discover">Discover</a></li>
    <li><a href="/post">ADD POST</li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/signout">log out</a></li>
</ul>
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="div1">
<h1>{{user['username']}}</h1>
<h2>{{user['bio']}}</h2>

    </div>
</body>
</html>